* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk {
  max-width: 439px;
  font-size: 1.25rem;
  line-height: 30px;
  padding-left: 24px;
}

.intro-chunk .title {
  font-size: 32px;
  margin-top: 96px;
  margin-bottom: 3rem;
}

.intro-chunk p:last-child {
  margin-top: 16px;
  margin-bottom: 4rem;
}

.intro-chunk strong {
  color: hsl(160, 75%, 36%);
  font-weight: bold;
}

main {
  background: hsla(0, 0%, 40%, 1);
  padding-top: 72px;
  padding-bottom: 66px;
}

main .indented-heading {
  margin-top: 0;
  background: hsla(45, 100%, 50%, 1);
  padding: 16px 32px;
  width: fit-content;
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
  margin-left: -40px;
  font-size: 1.5rem;
}

main .card {
  background: hsla(0, 0%, 100%, 1);
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  padding: 24px;
  padding-top: 8px;
}

main .card p {
  font-size: 1.25rem;
}